

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=signal_db


JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars
JWT_REFRESH_SECRET=change-me-refresh-secret-min-32-chars

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


API_PORT=3000
WEB_PORT=8080

FIREBASE_CREDENTIALS_HOST_PATH=./firebase-adminsdk.json
